<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100;400&display=swap"
          rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Oswald', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-size:20px;
        }
        ul {
            font-family: Oswald;
            list-style-type: square;
            font-size:25px;
            font-weight:bold;
            }
        li {
            padding:5px;
        }
        .list-header {
            font-family: Oswald;
            font-size:30px;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <h1>Shopping List</h1>
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient, amount in shopping_cart.items %}
            <tr>
                <td>{{ ingredient }}</td>
                <td>{{ amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>